<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html,body{
            height: 100%;
        }
    </style>
</head>
<body style="margin: 0px">
<table width="100%" height="100%" border="1">
    <Tr>
        <Td width="20%">
            菜单
            <a href="logout">注销</a>
        </Td>
        <Td>
            欢迎光临...
        </Td>
    </Tr>
</table>
</body>
</html>